{% extends "global_layout_logged.html" %}
{% block content %}
<div class="container" id="row-container">
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Books</h4>
                    <p class="card-text" id="paragraph">Show all books in library</p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/books">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View School Units</h4>
                    <p class="card-text" id="paragraph">Show all registered school units<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/users">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">New Operators</h4>
                    <p class="card-text" id="paragraph">Accept new operators<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_1">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <p> </p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Borrowing/School_Unit</h4>
                    <p class="card-text" id="paragraph">Show borrowings per school<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_2">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Authors/Category</h4>
                    <p class="card-text" id="paragraph">Show authors per category<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_3">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Teachers/Category</h4>
                    <p class="card-text" id="paragraph">Show list of teachers who have borrowed book from specific category<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_4">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Young_Teachers</h4>
                    <p class="card-text" id="paragraph">Show result of query<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_2">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Lonely_Authors</h4>
                    <p class="card-text" id="paragraph">Show result of query<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_3">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Query 1</h4>
                    <p class="card-text" id="paragraph">Show result of query<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_4">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Query 2</h4>
                    <p class="card-text" id="paragraph">Show result of query<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_3">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Query 3</h4>
                    <p class="card-text" id="paragraph">Show result of query<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/query_4">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>
{% endblock content %}