{% extends "global_layout.html" %}
{% block content %}
<form class="box box-update_profile" action="/home/books/search/update/{{ result[0] }}" method="POST">
    <h2>Update Book</h2>
    <input type="text" placeholder="ISBN" name="ISBN" value="{{ result[1] }}" required>
    <input type="text" placeholder="Title" name="Title" value="{{ result[3] }}" required><br>
    <input type="text" placeholder="Publisher" name="Publisher" value="{{ result[4] }}" required>
    <input type="text" placeholder="Available Copies" name="Available Copies" value="{{ result[7] }}" required><br>
    <input type="text" placeholder="Language" name="Language" value="{{ result[9] }}" required>
    <input type="text" placeholder="Inventory" name="Inventory" value="{{ result[11] }}" required><br>
    <input type="submit" value="Submit"> 
   </form>
   
{% endblock %}