{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    <div class="row" id="row">
        {% if role == 'Administrator' %}
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Books</h4>
                    <p class="card-text" id="paragraph">Show all Books in Library</p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/books">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View School Units</h4>
                    <p class="card-text" id="paragraph">Show all registered School Units<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/schools">Show</a>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">New Operators</h4>
                    <p class="card-text" id="paragraph">Accept New Operators<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/new_operators">Show</a>
                    </div>
                </div>
            </div>
        </div>

        <p> </p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Borrowing per School_Unit</h4>
                    <p class="card-text" id="paragraph">Show Borrowings Per School Unit (Query 3.1.1)<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/borrowings_per_school">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Authors Per Category</h4>
                    <p class="card-text" id="paragraph">Show Authors Per Category (Query 3.1.2a)<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/authors_in_category">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Teachers Per Category</h4>
                    <p class="card-text" id="paragraph">Show list of Teachers who have borrowed books from a specific Category (Query 3.1.2b)<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/teachers_in_category">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Young Teachers</h4>
                    <p class="card-text" id="paragraph">Show the young teachers (age<40) who have borrowed the most books and the number of books borrowed (Query 3.1.3)<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/young_teachers">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Lonely Authors</h4>
                    <p class="card-text" id="paragraph">Show Authors whose books have not been borrowed (Query 3.1.4)<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/lonely_authors">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Same Loans</h4>
                    <p class="card-text" id="paragraph">Show the operators that have loaned the same number of books in a year, with more than 20 loans (Query 3.1.5)<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/same_loans">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Best Pairs</h4>
                    <p class="card-text" id="paragraph">Among category pairs, shot the top-3 pairs in borrowings (Query 3.1.6)<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/best_pairs">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">5 Books Less Than Max</h4>
                    <p class="card-text" id="paragraph">Show result of query<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/less_books_than">Show</a> XOYAN
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
        {% endif %}
        {% if role == 'Operator' %}
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Books</h4>
                    <p class="card-text" id="paragraph">Show all books in library</p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/books">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Borrowings</h4>
                    <p class="card-text" id="paragraph">Show borrowings in school<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/borrowings_in_school">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Reservations</h4>
                    <p class="card-text" id="paragraph">Show reservations in school<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/reservations_in_school">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <p> </p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Late borrowed books</h4>
                    <p class="card-text" id="paragraph">Show late borrowed books<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/late_borrowed">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Average rating</h4>
                    <p class="card-text" id="paragraph">Show average rating per book<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/average_rating">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">New Users</h4>
                    <p class="card-text" id="paragraph">Accept new users<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/new_users">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Approve Borrowings</h4>
                    <p class="card-text" id="paragraph">Approve new borrowings<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/new_borrowings">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Approve Reservations</h4>
                    <p class="card-text" id="paragraph">Approve new reservations<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/new_reservations">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Approve Reviews</h4>
                    <p class="card-text" id="paragraph">Approve new reviews<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/new_reviews">Show</a>
                    </div>    
                </div>
            </div>
        </div>
        <p></p>
        {% endif %}
        {% if role == 'Teacher' %}
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Books</h4>
                    <p class="card-text" id="paragraph">Show all books in library</p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/books">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Borrowed Books</h4>
                    <p class="card-text" id="paragraph">Show all borrowed books<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/my_borrowings">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Reserved Books</h4>
                    <p class="card-text" id="paragraph">Show all reserved books<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/my_reservations">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">Profile</h4>
                    <p class="card-text" id="paragraph">Update profile<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/update_profile">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        {% endif %}
        {% if role == 'Student' %}
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Books</h4>
                    <p class="card-text" id="paragraph">Show all books in library</p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/books">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Borrowed Books</h4>
                    <p class="card-text" id="paragraph">Show all borrowed books<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/my_borrowings">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body d-flex flex-column" id="card">
                    <h4 class="card-title">View Reserved Books</h4>
                    <p class="card-text" id="paragraph">Show all reserved books<br></p>
                    <div class="mt-auto">
                    <a class="btn btn-primary" id="show-btn" href="/home/my_reservations">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        {% endif %}
    </div>
</div>
{% endblock content %}
