<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/styles.css') }}">
    <title>Login per user</title>
</head>
<body>
    <div class="box box-login_as">
    <h2>Login as</h2>
    <a href="/login" class="button">Admin</a>
    <a href="/login" class="button">Operator</a>
    <a href="/login" class="button">User</a>
    </div>
</body>
</html>