<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/styles.css') }}">
    <title>Login</title>
</head>
<body>
    <form class="box box-login" action="\">
     <h1>Login</h1>
     <input type="text" placeholder="Username"><br>
     <input type="password" placeholder="Password"><br>
     <input type="submit" value="Login">
     <p>Not Registered?</p>
     <a href="\sign-up">Sign Up Here</a>
    </form>
</body>
</html>