{% extends "global_layout.html" %}
{% block content %}
<div class="card-body" id="card">
    <table class="table table-striped table-sm table-borderless">
        <thead>
            <tr>
                <th>Borrowing ID</th>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Username</th>
                <th>Borrower Name</th>
                <th>Borrower Surname</th>
                <th>Borrower Type</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
                <th>Returning Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td> {{ result.Borrowing_ID }} </td>
                <td> {{ result.Book_ID }} </td>
                <td> {{ result.Title }} </td>
                <td> {{ result.Username }} </td>
                <td> {{ result.Name }} </td>
                <td> {{ result.Surname }} </td>
                <td> {{ result.User_Type }} </td>
                <td> {{ result.Borrow_Date }}</td>
                <td> {{ result.Due_Date }}</td>
                <td> {{ result.Returning_Date }}</td>
                <td> {{ result.Status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}