{% extends "global_layout.html" %}
{% block content %}
<div style="height:50px">
    <div class="add_entry">
    <a href="/home/schools/add" class="add">Add New School</a>
    </div>
</div>
<div class="card-body" id="card">
    <table class="table table-striped table-sm table-borderless">
        <thead>
            <tr>
                <th>School ID</th>
                <th>School Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Principal Name</th>
                <th>Principal Surname</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
            <tr>
                <td> {{ school.School_ID }} </td>
                <td> {{ school.School_Name }} </td>
                <td> {{ school.Address }} </td>
                <td> {{ school.Phone }} </td>
                <td> {{ school.Email }} </td>
                <td> {{ school.Principal_Name }} </td>
                <td> {{ school.Principal_Surname }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}