<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Message</title>
</head>

<body>
   <div style="top:50%; left:50%; position: absolute; transform: translate(-50%, -50%);  width: 500px; height: 100px; background: linear-gradient(to right ,#5902fa, #00ddff);">
    <p style="font-size: 20px; text-align: center; color:rgb(0, 0, 0)">Signed up successfully!</p>
    <a href="/" style="font-size: 17px; margin-left:30px;  text-decoration: none; color:white">Return to login form and wait until your application is confirmed</a>
</div>
</body>
</html>