{% extends "global_layout.html" %}
{% block content %}
<form class="box box-category" action="/home/teachers_in_category/search" method="POST">
    <h2>Choose Category</h2>
    <select id="category" name="Category" style="width: 190px;" required>
        <option value="" disabled selected>Select Category</option>
        {% for category in categories %}
        <option value="{{category.Category_Name}}">{{category.Category_Name}}</option>
        {% endfor %}
      </select><br>
    <input type="submit" value="Submit"> 
   </form>
{% endblock %}